html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 0px;
    overflow: hidden;
    /* position: absolute; */
    position: relative;
    background-color: white;
    font-family: "Heiti SC";
    overflow-x: hidden;
}


img {
    vertical-align: top
}

.loading {
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 9rem;
    height: 12.36rem;
    z-index: 100;
    font-size: 20px;
    left: 50%;
    margin-left: -4.5rem;

}

.loading span {
    position: absolute;
    font-size: 20px;
    color: black;
    top: 48%;
    left: 46%;
    font-weight:bold;
    text-align: center;

}
.loading_icon{

    position: absolute;
    width:3.58rem;
    height:3.58rem;
    left: 50%;
    margin-left: -1.79rem;
    top: 26%;


}


.orientation {
    width: 100%;
    height: 100%;
    background: black;
    display: none;
}

.orientation img {
    position: absolute;
    width: 45%;
    left: 25%;
    top: 6%;
}

.main {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
}


.page1 {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}

.p1-bg {
    position: absolute;
    width: 9rem;
    height: 12.36rem;
    left: 50%;
    margin-left: -4.5rem;

}

.p1-bg-color1{

    position: absolute;
    width: 3.56rem;
    height: 6.26rem;


}

.p1-bg-color2{

    position: absolute;
    width: 6.8rem;
    height: 5.53rem;
    margin-left: 2.18rem;
    margin-top: 0rem;


}

.p1-bg-color3{

    position: absolute;
    width: 5.22rem;
    height: 6.83rem;
    margin-left: 0rem;
    margin-top: 5.53rem;

}

.p1-bg-color4{

    position: absolute;
    width: 5.45rem;
    height: 7.95rem;
    margin-left: 3.54rem;
    margin-top: 4.4rem;


}

.p1-bg-jiantou{

    position: absolute;
    width: 4.38rem;
    height: 6.49rem;
    margin-left: 0rem;
    margin-top: 5.87rem;

}

.p1-t1{

    position: absolute;
    width: 4.82rem;
    height: 2.57rem;
    margin-left: 2.2rem;
    margin-top: .5rem;

}

.p1-t2{

    position: absolute;
    width: 3.13rem;
    height: 2.02rem;
    margin-left: 4.6rem;
    margin-top: 2.1rem;

}

.p1-t3{

    position: absolute;
    width: 1.39rem;
    height: 1.07rem;
    margin-left: 3.3rem;
    margin-top: 2.8rem;

}
.p1-t4{

    position: absolute;
    width: 4.37rem;
    height: .85rem;
    margin-left: 3.6rem;
    margin-top: 0rem;

}

.p1-t5{

    position: absolute;
    width: 3.22rem;
    height: 1.49rem;
    margin-left: 3.35rem;
    margin-top: 3.95rem;

}
.p1-point1{

    position: absolute;
    width: 1.23rem;
    height: 1.3rem;
    margin-left: 2.6rem;
    margin-top: 0rem;

}

.p1-point2{

    position: absolute;
    width: 1.54rem;
    height: 2.8rem;
    margin-left: 6.75rem;
    margin-top: 3.7rem;

}

.p1-point3{

    position: absolute;
    width: 2.03rem;
    height: 4.53rem;
    margin-left: 6.9rem;
    margin-top: 7.8rem;

}

.p1-huodong-btn{

    position: absolute;
    width: 3.07rem;
    height: .8rem;
    left: 50%;
    margin-top: 7.06rem;
    margin-left: -1.53rem;

}

.p1-list-btn{

    position: absolute;
    width: 3.07rem;
    height: .8rem;
    left: 50%;
    margin-top: 8.01rem;
    margin-left: -1.53rem;

}

.p1-guize-btn{

    position: absolute;
    width: 3.07rem;
    height: .8rem;
    left: 50%;
    margin-top: 8.95rem;
    margin-left: -1.53rem;

}

.p1-video-btn{

    position: absolute;
    width: 2.32rem;
    height: .48rem;
    left: 50%;
    margin-top: 10.06rem;
    margin-left: -1.16rem;

}



.page2{

    position: absolute;
    width: 100%;
    height: 100%;
    display: none;


}

.p2-bg{

    position: absolute;
    width: 6.14rem;
    height: 10.86rem;
    left: 50%;
    margin-top: .5rem;
    margin-left: -2.9rem;

}


.p2-Email-txt{

    position: absolute;
    width: 2.04rem;
    height: .28rem;
    left: 50%;
    margin-top: 3.89rem;
    margin-left: -1.02rem;

}

.p2-Email-box{

    position: absolute;
    width: 3.75rem;
    height: .76rem;
    left: 50%;
    margin-top: 4.32rem;
    margin-left: -1.87rem;


}

.p2-email-tt{

    position: absolute;
    width: 90%;
    height: 100%;
    background-color:transparent;
    border: 0;
    padding: 0 .2rem;
    font-size: 15px;
    text-align: center;

}

.p2-name-txt{

    position: absolute;
    width: 2.04rem;
    height: .28rem;
    left: 50%;
    margin-top: 5.38rem;
    margin-left: -1.02rem;

}

.p2-name-box{

    position: absolute;
    width: 3.75rem;
    height: .76rem;
    left: 50%;
    margin-top: 5.77rem;
    margin-left: -1.87rem;

}

.p2-login-btn{


    position: absolute;
    width: 2.55rem;
    height: .66rem;
    left: 50%;
    margin-top: 7.13rem;
    margin-left: -1.27rem;


}



.page3{

    position: absolute;
    width: 100%;
    height: 100%;
    display: none;

}

.p3-bg {
    position: absolute;
    width: 9rem;
    height: 12.36rem;
    left: 50%;
    margin-left: -4.5rem;
}

.p3-upload-bg{

    position: absolute;
    width: 5.73rem;
    height: 6.59rem;
    left: 50%;
    margin-top: .68rem;
    margin-left: -2.86rem;

}

.p3-upload-btn{

    position: absolute;
    width: 5.58rem;
    height: 6.42rem;
    top:0.03rem;
    left: .12rem;

}

canvas{ width:100%; height:100%; vertical-align:middle;}
#c1{ display:block; width:5.58rem; height:6.42rem; position:absolute; top:0.03rem;  left: .12rem;}



.p3-upload-texBox{

    position: absolute;
    width: 5.75rem;
    height: 2.14rem;
    left: 50%;
    margin-top: 7.36rem;
    margin-left: -2.87rem;

}

.p3-upload-text{

    position: absolute;
    width: 90%;
    height: 85%;
    background-color:transparent;
    border: 0;
    padding: .1rem .2rem;
    font-size: .25rem;
    text-align: left;
    margin-left: .15rem;


}

.p3-btnBox{

    position: absolute;
    width: 5.7rem;
    left: 50%;
    margin-left: -3.2rem;
}

.p3-resetBtn{

    position: absolute;
    width: 2.53rem;
    height: .8rem;
    margin-top: 9.66rem;
    margin-left: .4rem;


}

.p3-submitBtn{

    position: absolute;
    width: 2.53rem;
    height: .8rem;
    margin-top: 9.66rem;
    margin-left: 3.56rem;


}

.p3-upload-tips{

    position: fixed;
    width: 9rem;
    height: 12.36rem;
    left: 50%;
    margin-left: -4.5rem;
    background-color: black;
    opacity: .7;
    display: none;
    z-index: 2;



}

.p3-upload-tips-point{

    position: absolute;
    width: 1.02rem;
    height: .11rem;
    left: 50%;
    margin-left: -.51rem;
    top:35%;

}

.p3-upload-tips-txt{

    position: absolute;
    width: 1.5rem;
    height: .46rem;
    left: 50%;
    margin-left: -.75rem;
    top:37%;

}

.p3-upload-qrcode{

    position: absolute;
    width: 5.81rem;
    height: 1.61rem;
    left: 50%;
    margin-left: -2.9rem;
    margin-top: 9.6rem;
    z-index: -1;


}


.p3-upload-qrcode-bg{

    position: absolute;
    width: 1.61rem;
    height: 1.61rem;
    background-color: white;
    left: 4.2rem;
    margin: 0;

}

.p3-upload-nameBg{

    position: absolute;
    width: 5.58rem;
    height: .93rem;
    background-color: white;
    margin-left: .12rem;
    margin-top: 5.53rem;
    display: none;

}

.p3-upload-name-box{

    position: absolute;
    width: 2.55rem;
    height: .31rem;
    margin-left: 1.5rem;
    margin-top: .3rem;

}

.p3-upload-number-tt{

    position: absolute;
    font-size: .28rem;
    color: #6a6a6a;
    text-align: left;


}

.p3-upload-name-tt{

    position: absolute;
    width: 2.2rem;
    font-size: .28rem;
    color: #6a6a6a;
    text-align: left;
    margin-left: 1.7rem;


}


.page4{

    position: absolute;
    width: 100%;
    height: 100%;
    display: none;

}

.p4-img-bg{

    position: absolute;
    width: 5.73rem;
    height: 6.59rem;
    left: 50%;
    margin-top: .68rem;
    margin-left: -2.86rem;


}

.p4-img{

    position: absolute;
    width: 5.58rem;
    height: 6.42rem;
    margin-top: .03rem;
    margin-left: .12rem;

}

.p4-show-nameBg{

    position: absolute;
    width: 5.58rem;
    height: .93rem;
    background-color: white;
    margin-left: .12rem;
    margin-top: 5.53rem;
    display: block;
}

.p4-show-name-box{

    position: absolute;
    width: 2.55rem;
    height: .31rem;
    margin-left: 1.5rem;
    margin-top: .35rem;

}

.p4-show-number-tt{

    position: absolute;
    font-size: .28rem;
    color: #6a6a6a;
    text-align: left;
}

.p4-show-name-tt{

    position: absolute;
    width: 2.2rem;
    font-size: .28rem;
    color: #6a6a6a;
    text-align: left;
    margin-left: 1.7rem;
}


.p4-big-pic{

    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;

}


.p4-btnBox{

    position: absolute;
    width: 5.7rem;
    left: 50%;
    margin-left: -3.2rem;
}

.p4-like-icon{

    position: absolute;
    width: .69rem;
    height: .6rem;
    margin-left: .3rem;
    margin-top: -.3rem;

}

.p4-like-num{

    position: absolute;
    width: 1rem;
    height: 1rem;
    font-size: .4rem;
    color: #bc0f0f;
    text-align: center;
    margin-left: .13rem;
    margin-top: .4rem;
    font-weight: bold;

}

.p4-show-texBox{
    position: absolute;
    width: 5.75rem;
    height: 2.14rem;
    left: 50%;
    margin-top: 7.36rem;
    margin-left: -2.87rem;
}

.p4-show-text{
    position: absolute;
    width: 90%;
    height: 85%;
    background-color:transparent;
    border: 0;
    padding: .1rem .2rem;
    font-size: .25rem;
    text-align: left;
    margin-left: .15rem;

}

.p4-likeBtn{

    position: absolute;
    width: 2.53rem;
    height: .8rem;
    margin-top: 9.66rem;
    margin-left: .4rem;
}

.p4-homeBtn{

    position: absolute;
    width: 2.53rem;
    height: .8rem;
    margin-top: 9.66rem;
    margin-left: 3.56rem;
}

.p4-downTips{

    position: absolute;
    width: 2.34rem;
    height: .24rem;
    margin-top: 10.8rem;
    margin-left: 3.7rem;

}


.page5{

    position: absolute;
    width: 100%;
    height: 100%;
    display: none;

}

.p5-bg {
    position: absolute;
    width: 9rem;
    height: 12.36rem;
    left: 50%;
    margin-left: -4.5rem;
    z-index: 0;
}

.p5-search{

    position: absolute;
    width: 5.3rem;
    height: .76rem;
    left: 50%;
    margin-left: -2.65rem;
    margin-top: .3rem;

}

.p5-search-box{

    position: absolute;
    width: 4.13rem;
    height: .76rem;

}

.p5-search-input{

    position: absolute;
    width: 3.65rem;
    height: .48rem;
    margin: 0.05rem;
    padding:0  .1rem;

}

.p5-search-btn{

    position: absolute;
    width: 1.19rem;
    height: .76rem;
    margin-left: 4.1rem;

}

#wrapper{

    position: absolute;
    width: 5.3rem;
    height: 9rem;
    left: 50%;
    margin-left: -2.65rem;
    margin-top: 1.3rem;
    overflow: hidden;
    z-index: 999;

}


#scroller{

    position: relative;
    width: 100%;
    height: auto;

}

#wrapper li{

    list-style: none;
    margin:0.08rem 0.02rem;



}


.p5-listMc{

    position: relative;
    width: 2.6rem;
    height: 2.83rem;
    display:inline-block;



}



.p5-listMc-bg{

    position: absolute;
    width: 2.6rem;
    height: 2.6rem;
    overflow: hidden;

}


.p5-listMc-img{

    position: absolute;
    width: 2.51rem;
    height: 2.6rem;

}

.p5-listMc-namebox{

    position: absolute;
    width: auto;
    height: .4rem;
    margin: 0.1rem;
    background-color: white;
    border-radius: .1rem;
    font-size: .25rem;
    color: black;
    line-height:.4rem;
    padding:0 .1rem;

}






.p5-listMc-bar{

    position: absolute;
    width: 2.51rem;
    height: .57rem;
    background-color: white;
    margin-top: 2rem;
}

.p5-listMc-bar-likeIcon{

    position: absolute;
    width: .3rem;
    height: .3rem;
    margin-left: .18rem;
    margin-top: -.06rem;

}

.p5-listMc-bar-likeNum{

    position: absolute;
    width: .5rem;
    height: .3rem;
    font-size: .25rem;
    color: #bc0f0f;
    text-align: center;
    margin-left: 0.05rem;
    margin-top: 0.22rem;
    font-weight: bold;
}


.p5-listMc-bar-txt{

    position: absolute;
    width: 1.7rem;
    height: .3rem;
    font-size: .1rem;
    text-align: left;
    left: .7rem;
    margin-top: 0.05rem;
    padding: .05rem;
    word-wrap:break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}


.p5-listMc-btn{

    position: absolute;
    width: 2.51rem;
    height: .31rem;
    margin-top: 2.5rem;
    margin-left: 0rem;

}

.p5-homeBtn{

    position: absolute;
    width: 2.28rem;
    height: .56rem;
    left: 50%;
    margin-left: -1.14rem;
    margin-top:10.5rem;

}



.page6{

    position: absolute;
    width: 100%;
    height: 100%;
    display: none;

}

.p6-bg {
    position: absolute;
    width: 9rem;
    height: 12.36rem;
    left: 50%;
    margin-left: -4.5rem;
    z-index: 0;
}

.p6-box {
    position: absolute;
    width: 5.92rem;
    height: 10.51rem;
    left: 50%;
    margin-left: -2.85rem;
    margin-top: .5rem;
}


.p6-goback-btn{

    position: absolute;
    width: 2.61rem;
    height: .80rem;
    margin-left: 1.7rem;
    margin-top: 9rem;


}

.page7{

    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;

}

.page7 .p3-upload-qrcode{

    z-index: 1;
}
